* {
    padding: 0;
    margin: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top {
    height: 1024px;
    background-image: url(img/back.jpg);
    background-repeat: round;
    background-size: cover;
}

.top__title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 217px;
}

.top__subtitle {
color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 32px; /* 177.778% */
width: 481px;
padding-top: 32px;
}

.top__subtitle_special {
color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}

.top__button-box {
    padding-top: 44px;
}

.top__button {
width: 234.063px;
height: 48.603px;
border-radius: 30px;
background: #9C0332;
color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
transition: all 0.3s;
}

.top__button:hover {
    transform: scale(1.2);
}

.games {
    background-image: url(img/back_games.jpg);
    display: flex;
justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 128px;
}

.games__game {
    transition: all 0.3s;
}

.games__game:hover {
    transform: scale(1.1);
}

.games__game_1 {
    background-image: url(img/game1.jpg);
    width: 378px;
    height: 300px;
    border-radius: 16px;
}

.games__game_2 {
    background-image: url(img/game2.png);
    width: 379px;
    height: 300px;
    border-radius: 16px;
}

.games__game_3 {
    background-image: url(img/game3.png);
    width: 379px;
    height: 300px;
    border-radius: 16px;
}

.games__game-name {
color: #FFF;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 133.333% */
padding-left: 32px; 
padding-top: 236px;
text-decoration: none;
}

.games__game-link {
    width: 379px;
    height: 300px;
}

.seasons {
background: #000915;
display: flex;
justify-content: space-between;
align-items: center;

    &__box {
    display: flex;
    align-items: center;
    gap: 135px;
    padding-top:234px;
    padding-bottom: 234px;
    }

    &__play {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
    }

    &__title {
color: #FFF;
font-family: Montserrat;
font-size: 48p;
font-style: normal;
font-weight: 700;
line-height: normal;
}

    &__play-text {
color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 32px; /* 177.778% */
width: 584px;
    }

    &__button {
width: 234.063px;
height: 48.603px;
border-radius: 30px;
background: #9C0332;
transition: all 0.3s;
    }

    &__button:hover {
        transform: scale(1.2)
    }
}

@import 'mobile';